@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);

body {
    background-image: url(imgs/82.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
}